seaborn==0.8.1
cmake==3.14.4
hdfs==2.5.8
pyhive==0.6.1
thrift
PyQt5==5.11.2
dill==0.2.8.2
bayesian-optimization==0.6.0
category_encoders==1.2.8
graphviz==0.8.4
flask==0.12.2
simplejson==3.16.0
xgboost==0.72.1
flask_script==2.0.6
flask_migrate==2.2.1
h5py==2.7.1
catboost==0.9.1.1
lifelines==0.14.6
lightgbm==2.1.2
tensorflow==1.14.0
keras==2.2.4
skope-rules==1.0.0
presto-python-client==0.5.1
joblib==0.13.2
